@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {

    --secondary-color: #44433d;
    --primary-color: #CCCCCC;
}

.ice-cream {
    --primary-color: #6C63FF;
    --secondary-color: #56546e;
}

.herb {
    --secondary-color: #4D4637;
    --primary-color: #EEE;
}


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.navbar-body {
    padding: 0.5rem;
    background-color: var(--secondary-color);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-brand {
    color: var(--primary-color);
    flex-shrink: 0;
    flex-grow: 0;
    font-weight: 900;
}

.navbar-others {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    flex-shrink: 0;
    flex-grow: 0;
}

.navbar-links {
    display: flex;
    gap: 1rem;
    flex-shrink: 0;
    flex-grow: 3;
    padding-right: 1rem;
    justify-content: flex-end;
}

.link {
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 0.125rem;
    border: 0.125rem solid transparent;
}

.link:hover {
    text-decoration: none;
    border-bottom: 0.125rem solid var(--primary-color);
}

.btn-secondary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.25rem 1rem;
    border-radius: 500px;
    border: 0.125rem solid var(--primary-color);
    font-weight: 600;
}

.btn-secondary:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.25rem 1rem;
    border-radius: 500px;
    border: 0.125rem solid var(--primary-color);
    font-weight: 600;
}

.btn-primary {
    border-radius: 500px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.25rem 1rem;

    border: 0.125rem solid var(--primary-color);
    font-weight: 600;
}

.btn-primary:hover {
    border-radius: 500px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.25rem 1rem;

    border: 0.125rem solid var(--primary-color);
    font-weight: 600;

}

#toggler {
    border-radius: 500px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.25rem;
    border: 0.125rem solid var(--primary-color);
    font-weight: 600;
}

#toggler:hover {
    border-radius: 500px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.25rem;

    border: 0.125rem solid var(--primary-color);
    font-weight: 600;

}




.custom-form {
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;

}

.custom-form-control {
    display: inline-grid;
    gap: 0.5rem;

}

.custom-form-label {
    padding: 0.5rem 0 0.25rem 0;
}

.custom-form-field {
    padding: 0.25rem;
}

.custom-form-textarea {
    padding: 0.25rem;
    width: 100%;
}

select.custom-form-field {
    width: 100%;
    padding: 0.25rem;
}

.custom-select-option {
    width: 100%;
}

.form-links {
    gap: 0.5rem;
    padding: 0.5rem 0;
}

.form-links-label {
    display: inline-flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.font-14 {
    font-size: 0.875rem;
}

.font-12 {
    font-size: 0.75rem;
}

.d-flex {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

a {
    color: var(--primary-color);

}

.hero-banner {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero-heading {
    padding: 1rem 1rem 0.5rem 1rem;
    font-size: 3rem;
}

.hero-sub-heading {
    padding: 0.5rem 1rem 0 1rem;
}

.hero-sub-heading .btn-group {
    padding: 1rem 0;
}


.danger {
    color: #da4154;
}

.success {
    color: #72c15d;
}

.warning {
    color: #F5A623;
}

.valid-other {
    color: #26ade4;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.ai-c {
    align-items: center;
}

.message-block {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.message-block .icon {
    font-size: 16px;
    display: flex;
    align-self: baseline;
}

.message-block .content {
    font-weight: 501;
    font-size: 12px;
}

.float-right {
    float: right;
}

/* ---------------------------------- Alert Classes begin --------------------------------------- */

.wrapper-basic-alert { 
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 1rem;
}

.basic-alert { padding: 1rem; border-radius: 0.5rem; margin-top: calc(100vh - 95vh - 20px); }
.basic-alert-close { float: right; }

.alert-danger { background-color: #da4154; color: #EEEEEE; border: 2px solid #EEEEEE; }
.alert-warning { background-color: #F5A623; color:#44433d; border: 2px solid #44433D; }
.alert-success { background-color: #72c15d; color: #EEEEEE; border: 2px solid #EEEEEE; }
.alert-notification { background-color: #368abb; color: #EEEEEE; border: 2px solid #EEEEEE; }

/* ------------------------------------ Alert Classes end --------------------------------------- */

/* ------------------------------- Basic Profile Classes begin ------------------------------------ */

.wrapper-basic-profile {
    padding: 1rem;
    max-width: 600px;
    margin: auto;
}

.basic-profile-banner {
    height: 8rem;
    border-radius: 500px;
    padding: 1rem;
    background-color: var(--primary-color);
    width: 8rem;
    margin: auto;
    position: relative;
}

.profile-picture-edit-icon {
    bottom: -5%;
    right: -5%;
    position: absolute;
}

.basic-profile-banner .profile-picture {
    height: 6rem;
    border-radius: 500px;
}

.basic-profile-banner-content {
    color: var(--secondary-color);
}

.basic-profile-banner-content .heading , .basic-profile-bio .heading {
    font-weight: 700;
}

.basic-profile-bio {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: safe;
    padding: 1rem;
}

.wrapper-basic-profile-card {
    padding: 1rem;
    max-width: 600px;
    margin: auto;
}

.wrapper-basic-profile-card-content {
    padding: 1rem;
}

.basic-profile-card-up {
    background-color: var(--secondary-color);
    border-radius: 1rem;
    border: 2px solid var(--primary-color);
    padding: 1rem;
    color: var(--primary-color);
}

.basic-profile-card-up .profile-picture {
    display: block;
    border-radius: 500px;
    height: 8rem;
    margin: auto;
}

.basic-profile-card-up .headline {
    font-weight: 800;
    text-align: center;
    text-transform: capitalize;
}

.basic-profile-card-up .sub-headline {
    font-style: italic;
    text-align: center;
}

.basic-profile-card-up .content {
    padding-top: 1rem;
    text-align: center;
}

.basic-profile-card-up .edit-icon {
   text-align: right;
}

.basic-profile-card-up .icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.jc-c {
    justify-content: center;
}

.preview-picture {
    border-radius: 500px;
}

/* --------------------------------- Basic Profile Classes end ---------------------------------- */

/* ------------------------------- Modal Popup Classes begin ------------------------------------ */

.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
   
.box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background-color: var(--secondary-color);
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    overflow: auto;
}
   
.close-icon {
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: var(--primary-color);
    border-radius: 50%;
    color: var(--secondary-color);
}

/* --------------------------------- Modal Popup Classes end ------------------------------------ */



@media only screen and (max-width : 600px) {

    .navbar-brand {
        order: 1
    }

    .navbar-others {
        order: 2;

    }

    .navbar-links {
        order: 3;
        display: flex;
        gap: 1rem;
        flex-shrink: 0;
        flex-grow: 3;
        padding-top: 1rem;
        justify-content: space-evenly;
    }

    .custom-form {
        width: 100%;
        height: 100%;

        padding: 1rem;
        margin: 0;

    }

    .wrapper-basic-profile-card {
        width: 100%;
        padding: 1rem;
    }

}